html {height: auto;}
	body {
		background: linear-gradient(rgba(89, 127, 133, 0.6), rgba(88, 127, 133, 0.6)), url('../assets/placeholder.jpg') no-repeat 50% 50% fixed;  
	}

	.contact-container {
		line-height: 1.5;
		margin-top: 140px;
		margin-left: 40px;
		margin-right: 40px;
		}

		.contact-info {
			width: 100%;
			font-size: 12px;
			background-color: #D7E0FE;
		}
		.contact-info h1  {color: black; font-size: 24px; padding: 10px;}

		.contact-form {
			width: 100%;
			color: rgb(255, 255, 255); font-size: 12px;
			background-color: #000000;
			padding: 20px 60px 10px 60px;
		}
		.contact-form h1  {color: white; font-size: 24px;}
		
		.profile-image {
			border: 4px solid rgb(179, 179, 179);
		}
		a:hover {
			text-decoration: underline;
		}

		.more-info {
			padding: 240px 20px 10px;
		}
		.victoria-logo {
			max-width: 200px;
		}
		.icons {
			width: 40px;
			float: left;
		}