@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
html {height: 100%;}

	body {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/placeholder.jpg') no-repeat 50% 50% fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}


.middle-grid h1 {color: white;}
.middle-grid {
	margin: auto;
	max-width: 1000px;
	width: 100%;
	padding: 30px;
	position: relative;
	top: 10%;
	}
	.columns {margin: 30px;}







