html {height: 100;}
	body {
		background: linear-gradient(rgba(89, 127, 133, 0.6), rgba(88, 127, 133, 0.6)), url('../assets/placeholder.jpg') no-repeat 50% 50% fixed; 
	}

	.media-design-container {
		line-height: 1.5;
		margin-top: 200px;
		margin-left: 50px;
		margin-right: 50px;
		}
	
		.media-info {
			background-color: #697290;
			border-top: 4px solid white;
			color: white;
			padding: 30px;
		}
		.media-info h2 {
			font-size: 32px;
			font-weight: bold;
		}
		.media-info h3 {
			font-size: 24px;
			font-weight: bold;
			color: white;
		}
		.media-video {
			background-color: white;
			color: black;
			padding: 30px;
		}
		.media-video h2 {
			font-size: 32px;
			font-weight: bold;
		}