/* Contact Page CSS */
body {
    background-color: #9bb0d1;
}

.center-boxes {
	margin-top: 100px;
	margin: auto;
	color: black;
}

.center-boxes .row {
	max-width: 1300px;
	margin: auto;
}

.box {
    position: absolute;                       
}

/**/
.inner {
    background-color: grey;
	position: relative;
	padding: 30px 120px 200px 120px;
    width: auto;
    height: auto;
    z-index: 0;
}

.inner  h2{
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.inner input {
	padding: 12px;
	border: 2px solid black;
	
}
textarea {
	width: 100%;
	height: 250px;
	margin-top: 5px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid black;
	background-color: #f8f8f8;
	resize: none;
}


/**/
.outer {
	opacity: 0.5;
    margin-top: 40px;
	margin-left: 60px;
    background-color: antiquewhite;
    width: 400px;
    height: 460px;
    z-index: 1;
    color: black;
    
}