/* Contact Page CSS */
body {
    background-color: #9bb0d1;
}

.center-boxes {
	margin-top: 100px;
    margin-left: 90px;
    margin-right: 90px;
	height: auto;

	color: black;
    z-index: 0;
}

.center-boxes .row .col-xs-6 {
	max-width: 600px;
	height: auto;
}

.box {
    opacity: 0.9;
    position: absolute;                       
}

.inner {
    background-color: grey;
    width: auto;
    height: 600px;
    z-index: 0;
}

.outer {
    margin-top: 40px;
    background-color: antiquewhite;
    width: 400px;
    height: 460px;
    z-index: 1;
    color: black;
    
}