/*Font Setup*/
@import url('https://fonts.googleapis.com/css?family=Capriola|Montserrat|Overpass|Raleway');
body {
	background-color: grey;
	margin: 0;
	font-size: 1.05em;
	line-height: 1.25em;
	height: 100%;
}
/*Testing CSS - For Grid Layout and Such*/
.outline-1 {
	background-color: #677c91;
	margin: 10px;
	height: 300px;
}
/*------------------------------------------------------------------------------------------*/
/*HOME CSS*/
/*------------------------------------------------------------------------------------------*/
h1 {
	font-size: 2em;
	color: rgb(255, 255, 255);
	line-height: 1.15em;
	margin: 20px 0 ;
}

.rectangle {
	background-color: #999a9b;
	position: relative;
	padding: 10px;
	height: auto;
}

.footer {
	background-color: rgb(49, 49, 49);
	padding: 30px;
	color: white;
	height: auto;
}

/* HERO CSS */
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white; 
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/placeholder.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*TEXT TITLES AND SUBTITLES*/
.hero h1 {
	font-size: 64px;
    margin-top: 0;
}
.hero h2 {
	margin-top: -20px;
	font-size: 12px;
}

/*BUTTON*/
.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white; 
    text-decoration: none;
    font-size: 12px;
    
    /* Border styles */
    border: 3px solid white; 
    border-radius: 20px;
}
.hero .btn:hover {
	color: black;
	background-color: white;
}
/*------------------------------------------------------------------------------------------*/
/*ABOUT PAGE CSS*/
/*------------------------------------------------------------------------------------------*/
.column {
	margin: 50px;
}


/*------------------------------------------------------------------------------------------*/







/*CENTER CSS REFERENCE
{
	background-color: silver;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
*/












