/*Font Setup*/
@import url('https://fonts.googleapis.com/css?family=Capriola|Montserrat|Overpass|Raleway');
/*FONT INDIVIDUAL CLASSES*/
.Capriola {font-family: Capriola, sans-serif;} .Montserrat{font-family: Montserrat, sans-serif;}
.Overpass {font-family: Overpass, sans-serif;} .Raleway{font-family: Raleway, sans-serif;}
/*BODY CSS*/
body {
	background-color: grey;
	margin: 0;
	font-size: 1.05em;
	line-height: 1.25em;
	height: 100%;
}
/*Testing CSS - For Grid Layout and Such*/
.outline-1 {
	background-color: #677c91;
	margin: 10px;
	height: auto;
}
/*------------------------------------------------------------------------------------------*/
/*CSS That Stays True Across ALl Pages*/
/*------------------------------------------------------------------------------------------*/
.hero h1 {
	color: rgb(255, 255, 255);
	line-height: 1.15em;
	margin: 20px 0 ;
}

.rectangle {
	background-color: #999a9b;
	position: relative;
	padding: 10px;
	height: auto;
}
/*------------------------------------------------------------------------------------------*/
/*MAIN HERO CONTAINER CSS*/
/*------------------------------------------------------------------------------------------*/
.hero {
    margin: 0px;
    /*Sizing CSS*/
    width: 100vw;
    height: 100vh;
    
    /*Flexbox CSS*/
    display: flex;
    justify-content: center;
    
    /*Text CSS*/
    text-align: center;
    color: white; 
    
    /*Background CSS*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/placeholder.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*------------------------------------------------------------------------------------------*/
/*TEXT & ICONS & BORDER*/
/*------------------------------------------------------------------------------------------*/
.hero h1 {
    font-size: 64px;
    margin-top: 0;
}
.hero h2 {
    font-size: 18px;
    margin-top: -20px;
}
/*HERO AESTHETICS (BORDER & ICON)*/
/*------------------------------------------------------------------------------------------*/
.bottom-border {
    margin: auto;
    border: 2px solid white;
    border-radius: 2px;
}
.down-arrow {
    position: absolute;
    top: 95%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 2;
}
/*------------------------------------------------------------------------------------------*/
/*HERO BUTTON*/
/*------------------------------------------------------------------------------------------*/
.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white; 
    text-decoration: none;
    font-size: 12px;
    
    /* Border styles */
    border: 3px solid white; 
    border-radius: 20px;
}
/*BUTTON HOVER*/
/*------------------------------------------------------------------------------------------*/
.hero .btn:hover {
	color: black;
	background-color: white;
}
/*------------------------------------------------------------------------------------------*/
/*FOOTER CSS*/
/*------------------------------------------------------------------------------------------*/
.footer {
	background-color: rgb(49, 49, 49);
	padding: 30px;
	color: white;
	height: auto;
}
/*------------------------------------------------------------------------------------------*/



/*CENTER CSS REFERENCE*/
/*------------------------------------------------------------------------------------------*/
    /*
    background-color: silver;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    */
/*------------------------------------------------------------------------------------------*/












